<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nike</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'app/css/styleProductos.css'%}">
</head>
<body>
    <div class="container">
        <div>
            <a href="{%url 'login'%}"><button class="log">Login</button></a>
            <a href="{%url 'signup'%}"><button class="reg">Sign up</button></a>
        </div>
    </div>
    <nav>
        <a href="{% url 'index'%}">Home</a>
        <a href="{% url 'nike'%}">Nike</a>
        <a href="{% url 'adidas'%}">Adidas</a>
        <a href="{% url 'puma'%}">Puma</a>
        <a href="#">Carrito</a>
        <div class="animation start-home"></div>
    </nav>
    <div class="productos">
        {% load humanize %}
    <div class="productos">
        {%for p in adidas%}
        <div class="card">
            <div class="imgBox">
                {% if p.imagen%}
                <img src="{{p.imagen.url}}" class="sapatilla">
                {% endif %}
            </div>
            <div class="contentBox">
                <h3>{{p.adidas | capfirst}}</h3>
                <h2 class="price">${{p.precio | intcomma}}</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>
        {%endfor%}
    </div>
    </div>

    <footer>
        <p>Nacho Store Inc</p>
        <p>Copiryght 2022@</p>
        <p>diegoibarrabelmar@gmail.com</p>
        <img src="../img/footer/redes.png" alt="">
    </footer>
</body>
</html>