<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nike</title>
    <link rel="stylesheet" href="../css/styleProductos.css">
</head>
<body>
    <div class="container">
        <div>
            <a href="../login.html"><button class="log">Login</button></a>
            <a href="../signup.html"><button class="reg">Sign up</button></a>
        </div>
    </div>
    <nav>
        <a href="../index.html">Home</a>
        <a href="nike.html">Nike</a>
        <a href="adidas.html">Adidas</a>
        <a href="puma.html">Puma</a>
        <a href="#">Carrito</a>
        <div class="animation start-home"></div>
    </nav>
    <div class="productos">
        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../img/productos/P1.webp" class="sapatilla">
            </div>
            <div class="contentBox">
                <h3>Puma xr</h3>
                <h2 class="price">$124.000</h2>
                <a href="#" class="buy">AGREGAR A CARRITO</a>
            </div>
        </div>  
    </div>

    <footer>
        <p>Nacho Store Inc</p>
        <p>Copiryght 2022@</p>
        <p>diegoibarrabelmar@gmail.com</p>
        <img src="../img/footer/redes.png" alt="">
    </footer>
</body>
</html>