<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/styleMain.css">
</head>
<body>
    <div class="background-one">
        <div class="link-container">
            <a class="link-one" href="productos/nike.html"><img src="img/main/nike.png"></a>
        </div>
        </div>
        <div class="background-two link-container">
        <a class="link-two" href="productos/adidas.html"><img src="img/main/adidas.png"></a>
        </div>
        <div class="background-three link-container">
        <a class="link-three" href="productos/puma.html"><img src="img/main/puma.png"></a>
    </div>
</body>
</html>